In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
df = pickle.load(open('dataset_level_2.pkl','rb'))

In [3]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,2,Australia,Pakistan,0.1,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba"
1,2,Australia,Pakistan,0.2,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba"
2,2,Australia,Pakistan,0.3,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba"
3,2,Australia,Pakistan,0.4,0,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba"
4,2,Australia,Pakistan,0.5,1,0,Brisbane,"Brisbane Cricket Ground, Woolloongabba"
...,...,...,...,...,...,...,...,...
244,2325,Sri Lanka,Australia,39.5,0,0,NaN,Pallekele International Cricket Stadium
245,2325,Sri Lanka,Australia,39.6,0,0,NaN,Pallekele International Cricket Stadium
246,2325,Sri Lanka,Australia,39.7,1,0,NaN,Pallekele International Cricket Stadium
247,2325,Sri Lanka,Australia,40.1,0,0,NaN,Pallekele International Cricket Stadium
248,2325,Sri Lanka,Australia,40.2,0,SS Pathirana,NaN,Pallekele International Cricket Stadium

In [4]:
df[df['city'].isna()]['venue'].value_counts()

Sydney Cricket Ground                      9595
Rangiri Dambulla International Stadium     9450
Melbourne Cricket Ground                   7778
Adelaide Oval                              7166
Dubai International Cricket Stadium        6314
Pallekele International Cricket Stadium    5945
Sharjah Cricket Stadium                    4291
Harare Sports Club                         1538
Chittagong Divisional Stadium               900
Multan Cricket Stadium                      883
Rawalpindi Cricket Stadium                  617
Perth Stadium                               526
Dubai Sports City Cricket Stadium           518
Sharjah Cricket Association Stadium         303
Queenstown Events Centre                    258
Name: venue, dtype: int64

In [5]:
cities = np.where(df['city'].isnull(),df['venue'].str.split().apply(lambda x:x[0]),df['city'])

In [6]:
df['city'] = cities

In [7]:
df.isna().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [8]:
df.drop(columns=['venue'],inplace=True)

In [9]:
eligible_cities = df['city'].value_counts()[df['city'].value_counts() > 600].index.tolist()

In [10]:
df = df[df['city'].isin(eligible_cities)]

In [11]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,2,Australia,Pakistan,0.1,0,0,Brisbane
1,2,Australia,Pakistan,0.2,0,0,Brisbane
2,2,Australia,Pakistan,0.3,0,0,Brisbane
3,2,Australia,Pakistan,0.4,0,0,Brisbane
4,2,Australia,Pakistan,0.5,1,0,Brisbane
...,...,...,...,...,...,...,...
244,2325,Sri Lanka,Australia,39.5,0,0,Pallekele
245,2325,Sri Lanka,Australia,39.6,0,0,Pallekele
246,2325,Sri Lanka,Australia,39.7,1,0,Pallekele
247,2325,Sri Lanka,Australia,40.1,0,0,Pallekele
248,2325,Sri Lanka,Australia,40.2,0,SS Pathirana,Pallekele

In [12]:
df['current_score'] = df.groupby('match_id').cumsum()['runs']

C:\Users\chira\AppData\Local\Temp\ipykernel_2148\1598928411.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df['current_score'] = df.groupby('match_id').cumsum()['runs']
C:\Users\chira\AppData\Local\Temp\ipykernel_2148\1598928411.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['current_score'] = df.groupby('match_id').cumsum()['runs']

In [13]:
df['over'] = df['ball'].apply(lambda x:str(x).split(".")[0])
df['ball_no'] = df['ball'].apply(lambda x:str(x).split(".")[1])

C:\Users\chira\AppData\Local\Temp\ipykernel_2148\1757844946.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['over'] = df['ball'].apply(lambda x:str(x).split(".")[0])
C:\Users\chira\AppData\Local\Temp\ipykernel_2148\1757844946.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ball_no'] = df['ball'].apply(lambda x:str(x).split(".")[1])

In [14]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no
0,2,Australia,Pakistan,0.1,0,0,Brisbane,0,0,1
1,2,Australia,Pakistan,0.2,0,0,Brisbane,0,0,2
2,2,Australia,Pakistan,0.3,0,0,Brisbane,0,0,3
3,2,Australia,Pakistan,0.4,0,0,Brisbane,0,0,4
4,2,Australia,Pakistan,0.5,1,0,Brisbane,1,0,5
...,...,...,...,...,...,...,...,...,...,...
244,2325,Sri Lanka,Australia,39.5,0,0,Pallekele,194,39,5
245,2325,Sri Lanka,Australia,39.6,0,0,Pallekele,194,39,6
246,2325,Sri Lanka,Australia,39.7,1,0,Pallekele,195,39,7
247,2325,Sri Lanka,Australia,40.1,0,0,Pallekele,195,40,1
248,2325,Sri Lanka,Australia,40.2,0,SS Pathirana,Pallekele,195,40,2

In [15]:
df['balls_bowled'] = (df['over'].astype('int')*6) + df['ball_no'].astype('int')

C:\Users\chira\AppData\Local\Temp\ipykernel_2148\572800509.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_bowled'] = (df['over'].astype('int')*6) + df['ball_no'].astype('int')

In [16]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled
0,2,Australia,Pakistan,0.1,0,0,Brisbane,0,0,1,1
1,2,Australia,Pakistan,0.2,0,0,Brisbane,0,0,2,2
2,2,Australia,Pakistan,0.3,0,0,Brisbane,0,0,3,3
3,2,Australia,Pakistan,0.4,0,0,Brisbane,0,0,4,4
4,2,Australia,Pakistan,0.5,1,0,Brisbane,1,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...
244,2325,Sri Lanka,Australia,39.5,0,0,Pallekele,194,39,5,239
245,2325,Sri Lanka,Australia,39.6,0,0,Pallekele,194,39,6,240
246,2325,Sri Lanka,Australia,39.7,1,0,Pallekele,195,39,7,241
247,2325,Sri Lanka,Australia,40.1,0,0,Pallekele,195,40,1,241
248,2325,Sri Lanka,Australia,40.2,0,SS Pathirana,Pallekele,195,40,2,242

In [17]:
df['balls_left'] = 300 - df['balls_bowled']
df['balls_left'] = df['balls_left'].apply(lambda x: 0 if x < 0 else x)

C:\Users\chira\AppData\Local\Temp\ipykernel_2148\3290347515.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_left'] = 300 - df['balls_bowled']
C:\Users\chira\AppData\Local\Temp\ipykernel_2148\3290347515.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_left'] = df['balls_left'].apply(lambda x: 0 if x < 0 else x)

In [18]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left
0,2,Australia,Pakistan,0.1,0,0,Brisbane,0,0,1,1,299
1,2,Australia,Pakistan,0.2,0,0,Brisbane,0,0,2,2,298
2,2,Australia,Pakistan,0.3,0,0,Brisbane,0,0,3,3,297
3,2,Australia,Pakistan,0.4,0,0,Brisbane,0,0,4,4,296
4,2,Australia,Pakistan,0.5,1,0,Brisbane,1,0,5,5,295
...,...,...,...,...,...,...,...,...,...,...,...,...
244,2325,Sri Lanka,Australia,39.5,0,0,Pallekele,194,39,5,239,61
245,2325,Sri Lanka,Australia,39.6,0,0,Pallekele,194,39,6,240,60
246,2325,Sri Lanka,Australia,39.7,1,0,Pallekele,195,39,7,241,59
247,2325,Sri Lanka,Australia,40.1,0,0,Pallekele,195,40,1,241,59
248,2325,Sri Lanka,Australia,40.2,0,SS Pathirana,Pallekele,195,40,2,242,58

In [19]:
df['player_dismissed'] = df['player_dismissed'].apply(lambda x: 0 if x == '0' else 1)
df['player_dismissed'] = df['player_dismissed'].astype('int')
df['player_dismissed'] = df.groupby('match_id').cumsum()['player_dismissed']
df['wickets_left'] = 10 - df['player_dismissed']

C:\Users\chira\AppData\Local\Temp\ipykernel_2148\463450412.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df['player_dismissed'].apply(lambda x: 0 if x == '0' else 1)
C:\Users\chira\AppData\Local\Temp\ipykernel_2148\463450412.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df['player_dismissed'].astype('int')
C:\Users\chira\AppData\Local\Temp\ipykernel_2148\463450412.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df['player_dismissed'] = df.groupby('match_id').cumsum()['player_dismissed']
C:\Users\chira\AppData\Local\Temp\ipykernel_2148\463450412.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df.groupby('match_id').cumsum()['player_dismissed']
C:\Users\chira\AppData\Local\Temp\ipykernel_2148\463450412.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wickets_left'] = 10 - df['player_dismissed']

In [20]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left
0,2,Australia,Pakistan,0.1,0,0,Brisbane,0,0,1,1,299,10
1,2,Australia,Pakistan,0.2,0,0,Brisbane,0,0,2,2,298,10
2,2,Australia,Pakistan,0.3,0,0,Brisbane,0,0,3,3,297,10
3,2,Australia,Pakistan,0.4,0,0,Brisbane,0,0,4,4,296,10
4,2,Australia,Pakistan,0.5,1,0,Brisbane,1,0,5,5,295,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,2325,Sri Lanka,Australia,39.5,0,9,Pallekele,194,39,5,239,61,1
245,2325,Sri Lanka,Australia,39.6,0,9,Pallekele,194,39,6,240,60,1
246,2325,Sri Lanka,Australia,39.7,1,9,Pallekele,195,39,7,241,59,1
247,2325,Sri Lanka,Australia,40.1,0,9,Pallekele,195,40,1,241,59,1
248,2325,Sri Lanka,Australia,40.2,0,10,Pallekele,195,40,2,242,58,0

In [21]:
df['crr'] = (df['current_score']*6) / df['balls_bowled']

C:\Users\chira\AppData\Local\Temp\ipykernel_2148\1881415006.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crr'] = (df['current_score']*6) / df['balls_bowled']

In [22]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr
0,2,Australia,Pakistan,0.1,0,0,Brisbane,0,0,1,1,299,10,0.000000
1,2,Australia,Pakistan,0.2,0,0,Brisbane,0,0,2,2,298,10,0.000000
2,2,Australia,Pakistan,0.3,0,0,Brisbane,0,0,3,3,297,10,0.000000
3,2,Australia,Pakistan,0.4,0,0,Brisbane,0,0,4,4,296,10,0.000000
4,2,Australia,Pakistan,0.5,1,0,Brisbane,1,0,5,5,295,10,1.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,2325,Sri Lanka,Australia,39.5,0,9,Pallekele,194,39,5,239,61,1,4.870293
245,2325,Sri Lanka,Australia,39.6,0,9,Pallekele,194,39,6,240,60,1,4.850000
246,2325,Sri Lanka,Australia,39.7,1,9,Pallekele,195,39,7,241,59,1,4.854772
247,2325,Sri Lanka,Australia,40.1,0,9,Pallekele,195,40,1,241,59,1,4.854772
248,2325,Sri Lanka,Australia,40.2,0,10,Pallekele,195,40,2,242,58,0,4.834711

In [23]:
groups = df.groupby('match_id')
groups

In [24]:
match_ids = df['match_id'].unique()
match_ids

array([   2,    3,    4, ..., 2323, 2324, 2325], dtype=int64)

In [25]:
last_five = []

for id in match_ids:
    last_five.extend(groups.get_group(id).rolling(window=30).sum()['runs'].values.tolist())

C:\Users\chira\AppData\Local\Temp\ipykernel_2148\1461881565.py:4: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['batting_team', 'bowling_team', 'city'], dtype='object')
  last_five.extend(groups.get_group(id).rolling(window=30).sum()['runs'].values.tolist())

In [26]:
df['last_five'] = last_five

C:\Users\chira\AppData\Local\Temp\ipykernel_2148\1595651733.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['last_five'] = last_five

In [27]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr,last_five
0,2,Australia,Pakistan,0.1,0,0,Brisbane,0,0,1,1,299,10,0.000000,NaN
1,2,Australia,Pakistan,0.2,0,0,Brisbane,0,0,2,2,298,10,0.000000,NaN
2,2,Australia,Pakistan,0.3,0,0,Brisbane,0,0,3,3,297,10,0.000000,NaN
3,2,Australia,Pakistan,0.4,0,0,Brisbane,0,0,4,4,296,10,0.000000,NaN
4,2,Australia,Pakistan,0.5,1,0,Brisbane,1,0,5,5,295,10,1.200000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,2325,Sri Lanka,Australia,39.5,0,9,Pallekele,194,39,5,239,61,1,4.870293,24.0
245,2325,Sri Lanka,Australia,39.6,0,9,Pallekele,194,39,6,240,60,1,4.850000,23.0
246,2325,Sri Lanka,Australia,39.7,1,9,Pallekele,195,39,7,241,59,1,4.854772,24.0
247,2325,Sri Lanka,Australia,40.1,0,9,Pallekele,195,40,1,241,59,1,4.854772,23.0
248,2325,Sri Lanka,Australia,40.2,0,10,Pallekele,195,40,2,242,58,0,4.834711,22.0

In [28]:
final_df = df.groupby('match_id').sum()['runs'].reset_index().merge(df,on='match_id')

C:\Users\chira\AppData\Local\Temp\ipykernel_2148\3687880561.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  final_df = df.groupby('match_id').sum()['runs'].reset_index().merge(df,on='match_id')

In [29]:
final_df = final_df[['batting_team','bowling_team','city','current_score','balls_left','wickets_left','crr','last_five','runs_x']]

In [30]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr,last_five
0,2,Australia,Pakistan,0.1,0,0,Brisbane,0,0,1,1,299,10,0.000000,NaN
1,2,Australia,Pakistan,0.2,0,0,Brisbane,0,0,2,2,298,10,0.000000,NaN
2,2,Australia,Pakistan,0.3,0,0,Brisbane,0,0,3,3,297,10,0.000000,NaN
3,2,Australia,Pakistan,0.4,0,0,Brisbane,0,0,4,4,296,10,0.000000,NaN
4,2,Australia,Pakistan,0.5,1,0,Brisbane,1,0,5,5,295,10,1.200000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,2325,Sri Lanka,Australia,39.5,0,9,Pallekele,194,39,5,239,61,1,4.870293,24.0
245,2325,Sri Lanka,Australia,39.6,0,9,Pallekele,194,39,6,240,60,1,4.850000,23.0
246,2325,Sri Lanka,Australia,39.7,1,9,Pallekele,195,39,7,241,59,1,4.854772,24.0
247,2325,Sri Lanka,Australia,40.1,0,9,Pallekele,195,40,1,241,59,1,4.854772,23.0
248,2325,Sri Lanka,Australia,40.2,0,10,Pallekele,195,40,2,242,58,0,4.834711,22.0

In [31]:
final_df.dropna(inplace=True)

In [32]:
final_df.isna().sum()

batting_team     0
bowling_team     0
city             0
current_score    0
balls_left       0
wickets_left     0
crr              0
last_five        0
runs_x           0
dtype: int64

In [33]:
final_df = final_df.sample(final_df.shape[0])

In [34]:
final_df

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_x
94992,Sri Lanka,India,Kolkata,86,211,9,5.797753,35.0,215
95432,India,New Zealand,Hyderabad,302,21,4,6.494624,35.0,349
35174,Pakistan,South Africa,Durban,184,42,2,4.279070,26.0,203
191631,India,Australia,Nagpur,344,10,6,7.117241,67.0,354
71993,South Africa,Pakistan,Johannesburg,57,233,9,5.104478,28.0,341
...,...,...,...,...,...,...,...,...,...
348795,England,South Africa,Bloemfontein,93,228,9,7.750000,30.0,399
220708,South Africa,India,Cape Town,80,181,8,4.033613,24.0,220
366293,South Africa,Australia,Johannesburg,228,86,8,6.392523,37.0,361
361514,Pakistan,England,London,162,84,5,4.500000,27.0,251
83549,Sri Lanka,Australia,Kandy,266,16,4,5.619718,32.0,300

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import r2_score, mean_absolute_error
from xgboost import XGBRegressor

In [36]:
X = final_df.drop(columns=['runs_x'])
y = final_df['runs_x']
X_train, X_test, y_train, y_test = train_test_split(X,y,train_size=0.8,random_state=1)

In [37]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [38]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators = 1000, learning_rate = 0.2, max_depth = 12, random_state = 1))
])

In [39]:
pipe.fit(X_train,y_train)

C:\Users\chira\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', StandardScaler()),
                ('step3',
                 XGBRegressor(base_score=None, booster=None, callbacks=None,
                              colsample_bylevel=None, colsample_bynode=None,
                              colsample_bytree=None, early_stopping_rou...
                              feature_types=None, gamma=None, gpu_id=None,
                              grow_policy=None, importance_type=None,
                              interaction_constraints=None, learning_rate=0.2,
                              max_bin=None, max_cat_threshold=None,
                              max_cat_to_onehot=None, max_delta_step=None,
                              max_depth=12, max_leaves=None,
                              min_child_weight=None, missing=nan,
                              monotone_constraints=None, n_estimators=1000,
                              n_jobs=None, num_parallel_tree=None,
                              predictor=None, random_state=1, ...))])

In [40]:
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))

0.9875682380983629

In [41]:
print(mean_absolute_error(y_test,y_pred))

2.8569573961296366

In [42]:
pickle.dump(pipe,open('pipe.pkl','wb'))

In [43]:
eligible_cities

['Colombo',
 'London',
 'Mirpur',
 'Sydney',
 'Centurion',
 'Melbourne',
 'Abu Dhabi',
 'Rangiri',
 'Adelaide',
 'Birmingham',
 'Johannesburg',
 'Dubai',
 'Perth',
 'Auckland',
 'Karachi',
 'Hamilton',
 'Brisbane',
 'Wellington',
 'Cardiff',
 'Manchester',
 'Pallekele',
 'Lahore',
 'Cape Town',
 'Durban',
 'Sharjah',
 'Southampton',
 'Chandigarh',
 'Nottingham',
 'Port Elizabeth',
 'Christchurch',
 'Leeds',
 'Hambantota',
 'Napier',
 'Chester-le-Street',
 'Hobart',
 'Dhaka',
 'Mumbai',
 'Mount Maunganui',
 'Rawalpindi',
 'Nagpur',
 'Dunedin',
 'Bloemfontein',
 'Delhi',
 'Chittagong',
 'Hyderabad',
 'Pune',
 'Paarl',
 'Fatullah',
 'Chattogram',
 'Dambulla',
 'Kolkata',
 'Rajkot',
 'Jaipur',
 'Bristol',
 'Nelson',
 'Ahmedabad',
 'Ranchi',
 'Visakhapatnam',
 'Indore',
 'Kimberley',
 'Canberra',
 'Harare',
 'Kanpur',
 'Chennai',
 'Kandy',
 'Cuttack',
 'Cairns',
 'Trinidad',
 'Bangalore',
 'Amstelveen',
 'Grenada',
 'East London',
 'Potchefstroom',
 'Guwahati',
 'Multan',
 'Vadodara',
 'St Kitts',
 'Darwin',
 'Antigua',
 'Doha',
 'Guyana',
 'Faisalabad',
 'Gqeberha',
 'Gwalior',
 'Rotterdam',
 'Queenstown',
 'Belfast',
 'Barbados',
 'Peshawar',
 'Margao',
 'Jamaica',
 'Bengaluru',
 'Dublin',
 'Kochi',
 'Kuala Lumpur']